@font-face {
    font-family: Average;
    src: url(fonts/average/Average-Regular.ttf);
}

@font-face {
    font-family: FjallaOne;
    src: url(fonts/fjallaone/FjallaOne-Regular.ttf);
}

body{
	font-family: Average;
}

h1, h2, h3, h4, h5 {
	font-family: FjallaOne;
}
h1 {
	font-size: 10vw;
}

.login-icon{
	text-align: center;
	font-size: 80px;
}

img {
	width: 100%;
}

nav ul a {
  color: #474747;
}

nav {
  color: #838383;
}
/* 
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
} */
